body {
  font-family: "Open-Sans", sans-serif;
  height: 100%;
  background-image: url("img/background.jpeg");
  background-size: 350%;
  background-position-x: 50%;
  color: #fff;
}

a {
  color: #fff;
  font-weight: 600;
  transition: all 0.5s;
}

a:hover {
  color: #3edbf0;
}

.main-container header {
  text-align: center;
  width: 100%;
}

.main-container h2 {
  font-size: 1rem;
}

.main-container form {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.main-container input,
select {
  background-color: rgba(2, 10, 34, 0.7);
  border: 2px solid #ddd;
}

#error-container {
  background-color: rgba(243, 23, 23, 0.7);
  line-height: 3rem;
  text-align: center;
}

.forecast-container {
  margin: 0.6rem auto;
  width: 90%;
  background-color: rgba(2, 10, 34, 0.7);
  border-radius: 15px;
  padding: 0.3rem;
  height: 18rem;
}

.forecast-header {
  font-size: 1.8rem;
  text-align: center;
}

.forecast-details {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

footer {
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  margin: 0 auto;
}

@media screen and (min-width: 418px) {
  body {
    background-size: cover;
  }

  .main-container h2 {
    font-size: 2rem;
  }

  .forecast-container {
    width: 40%;
  }
}
