body {
  font-family: "Open-Sans", sans-serif;
  height: 100%;
  background-image: url("img/background.jpeg");
  background-size: 350%;
  background-position-x: 50%;
  color: #fff;
}

@media screen and (min-width: 418px) {
  body {
    background-size: cover;
  }
}

a {
  color: #fff;
  font-weight: 600;
  transition: all 0.5s;
}

a:hover {
  color: #3edbf0;
}

.main-container header {
  text-align: center;
}

footer {
  padding: 1rem;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  margin: 0 auto;
}
